main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario {
    width: 250px;
    height: 350px;
    border: 4px solid rgb(54, 2, 65);
    border-radius: 30px;
    padding: 15px;
}

h4 {
    text-align: center;
    color: rgb(117, 21, 126);
}

